/* for all of the htmls */
body {
    margin: 10%;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:white;
} 
h1{
    text-align: center;
    margin-bottom: 5%;

}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
.container-fluid{
    color: white;
    background-color: #b31b1b;
    margin-bottom: 2%;
}

.searches{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 40%;
    text-align: center;
    font-size: 150%;
}
#search{
    margin: auto;
    width: 70%;
    text-align: center;  

}

#search-options{
    margin: 100px;
    display: inline;

}
#submit-div{
    text-align: center;
}
#submit{
    background-color:  #b31b1b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
/* for results */
#results-body{
    background-color:  #b31b1b;

}
#results-container{
    color: white;
    background-color:  #b31b1b;
    position: relative;
    top: -100px; 
}
.account-text{
width: 30px;
margin: none;
}
.row{
    align-items: center;
}
.gm-style-iw{
    align-items: center;
}
.gm-style-iw-c{
    align-items: center;
}
.card-img-top{
    height: 280px;
    object-fit: cover;
}
.yelp-logo{
    width:100px; 
    margin: 0px;
    height: auto;
}
.yelp-img{
    height: auto; 
    margin-bottom: 5%;
}
#map {
    height: 100%;
    margin-bottom: 5%;
    left: 10%;
    width: 80%;
    border:5x black solid ;

}
.map-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  /* width: 50%; */
    width: 200px;
    height: 200px;
}
.map-text{
    color: black;
    text-align: center;
}
.card{
    border: 5px black solid;
    margin-bottom: 10%;
}
.account-card{
    color: white;
    background-color: #b31b1b;
    border: 5px black solid;
    margin-bottom: 10%;
}
#dropdown{
    padding: 16px 20px;
    border:1px black solid ;
    border-radius: 4px;
    background-color: white;

}
.results-text{
    padding-top: 30px;
    margin: none;
}
#results-account{
    display:inline;
    position:relative;
    left:40%;
}
/* for account pages */
.account-buttons{
background-color: white;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; 
}
.account-a:visited{
    color: #b31b1b;

}
.account-pages{
    margin: auto;
    text-align: center;
    display: inline; 
}
.account-background{
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:  #b31b1b;
}
.account-searches{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 20%;
    text-align: center;
}
#account{
    display:inline;
    position:relative;
    left:45%;
}
.account-button-div{
    text-align: center;
}



/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
