body {
    margin: 10%;
    margin-top: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: darkred;
}

h1{
    text-align: center;
}

a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}

.container-fluid{
    background-color: crimson;
    margin-bottom: 2%;
}
#account{
    /* width: 100px;
    height: auto; */
    display:inline;
    position:relative;
    left:85%;
}
#results-account{
    display:inline;
    position:relative;
    left:85%;
}

/* css for index.html */

/* css for results.html */

.row{
    align-items: center;
}

.card-img-top{
    /* position: relative;
    height: 280px;
    position: absolute;
    right: 0;
    bottom: 0;  */

    height: 280px;
    object-fit: cover;
}

.yelp-logo{
    width:100px; /* you can use % */
    margin: 0px;
    height: auto;
}

img{
    height: auto; 
    /* border:3px solid black; */
    margin-bottom: 5%;
}
h1{
    margin-bottom: 5%;
}
#map {
  height: 100%;
}
.card{
    margin-bottom: 10%;
}
