<!DOCTYPE html>
<html>

<head>
    <title>Saved Services</title>
    <link rel="icon" type="image/png" href="/static/small-services-finder-logo-favicon.png"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
        <h1 class="saves-text">Here Are Your Saved Services</h1>
    </div>
            <div>
            <ul>
                <div class="row">
                    {% for item in range(saves |length) %}
                    <!-- <li> -->
                    <!-- cards created by for loop -->
                    <div class="col">
                        <div class="account-card" style="width: 18rem;">
                            <a href='{{saves[item]["url"]}}'><img src="{{saves[item]['image_url']}}"
                                    class="card-img-top"></a>
                            <!-- image can now be displayed on cards -->
                            <div class="card-body">
                                <h5 class="card-title">{{saves[item]["name"]}}</h5>
                                <h6 class="card-subtitle mb-2">{{saves[item]["location"]["address1"]}},
                                    {{saves[item]["location"]["city"]}}, {{saves[item]["location"]["state"]}}
                                </h6>
                                <p class="card-text">Review count: {{saves[item]["review_count"]}}</p>
                                <a href='{{saves[item]["url"]}}'><img src="/static/Yelp-assets/Logo_RGB.png"
                                        class="yelp-logo"></a>
                            </div>
                        </div>
                    </div>
                    <!-- </li> -->
                    {% endfor %}
                </div>

            </ul>
        </div>
    <div class ="account-button-div">
<button class="account-buttons"  style="background-color: #b31b1b;"> <a href="/"  class="account-a" style="color: white;">Return to Main Page</a></button>
</div></body>

</html>