<html>

<head>
    <title>Small Services Finder</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <h1>Welcome to Small Services Finder!</h1>
    </div>

    <p>Input your desired service and we'll match you with local establishments based on your preferences</p>
    <form  method="post" action="/results">
        <select  name="service" id="cars">
            <option value="" disabled selected hidden>Select a service type</option>
            <option value="restuarant">Restuarant</option>
            <option value="home-services">Home Services</option>
            <option value="delivery">Delivery</option>
        </select>
        <input  type="text" name="city-state" placeholder="City, State" />
        
        <input  type="text" name="price-range" placeholder="Price Range" />
        
        <input  type="text" name="rating-range" placeholder="Minimum Rating" />
      
        <input  type="submit" value="Submit" />
    </form>

    {% if session %}
            <p>Hi {{session['username']}}</p>
            <a href = "/logout"> Log Out </a>
    {% endif %}
</div>
</body>

</html>