<html>

<head>
    <title>Small Services Finder</title>
    <link rel="icon" type="image/png" href="/static/small-services-finder-logo-favicon.png"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
  
<body>
    <div class="container-fluid">
        <h1>Welcome to Small Services Finder!</h1>
    <div id ="account" class="row" id="acc-directory">
        {% if session %}
            <a>Hi: {{session['username']}}</a>
            <a  href="/logout">Log Out</a>
            <a  href="/account">Account</a>
        {% else %}
            <a class = "account"href="/signup">Sign Up</a>
            <a  href="/login">Log In</a>
            <a  href="/login">Account</a>
        {% endif %}


        
    </div>
    <p>Powered by Yelp</p>
    </div>

    <h3 style="text-align: center; margin-bottom: 20px; ">Input your desired service and we'll match you with local establishments based on your preferences</h3>
    <form method="post" action="/results">
    <div id="search">
        <div id="search-options" style="margin-bottom: 10px;">
        <input class = "searches"type="text" name="citystate" placeholder="City, State" />
        <input class = "searches"type="text" name="rating-range" placeholder="Minimum Rating" />
        </div>
        <br>
        <select id="dropdown"name="service" id="cars">
            <option value="" disabled selected hidden>Select a service type</option>
            <option value="restuarant">Restaurant</option>
            <option value="home-services">Home Services</option>
            <option value="delivery">Delivery</option>
        </select>
    </div>

        <!-- <input type="text" name="price-range" placeholder="Price Range" /> -->
    <div id = "submit-div">
        <input id ="submit"type="submit" value="Submit" style="margin-top: 20px;" />
        </div>
    </form>
    <h2 style="text-align: center; margin-top: 5%;">Mission Statement</h2>
    <h3 style="text-align: center; width: 70%; margin: auto;">We saw it as essential to give smaller businesses the engagement needed to grow in our modern markets. Due to Covid 19 pandemic,
         there was an economic fallout and we both want to see these businesses recover and eventually reach greater heights than before the pandemic. </h3>
</body>

</html>