<html>

<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h1>Sign Up Here</h1>
    <form method="POST" action="/signup">
        <label for="user_name">Username:</label>
        <input type="text" name="user_name" value="">
        <label for="password">Password</label>
        <input type="text" name="password" value="">
        <input type="submit" value="Submit">
    </form>
</body>

</html>